USE [master]
GO
ALTER DATABASE [model] ADD FILEGROUP [DATA]
GO
ALTER DATABASE [model] ADD FILE ( NAME = N'modeldev2', FILENAME = N'E:\SQL 2008R2\Data\modeldev2.ndf' , SIZE = 1048576KB , MAXSIZE = 2097152KB , FILEGROWTH = 65536KB ) TO FILEGROUP [DATA]
GO
ALTER DATABASE [model] ADD FILE ( NAME = N'modeldev3', FILENAME = N'E:\SQL 2008R2\Data\modeldev3.ndf' , SIZE = 1048576KB , MAXSIZE = 2097152KB , FILEGROWTH = 65536KB ) TO FILEGROUP [DATA]
GO
ALTER DATABASE [model] MODIFY FILE ( NAME = N'modeldev', SIZE = 1048576KB , MAXSIZE = 4194304KB , FILEGROWTH = 65536KB )
GO
ALTER DATABASE [model] MODIFY FILE ( NAME = N'modellog', SIZE = 524288KB , MAXSIZE = 2097152KB , FILEGROWTH = 65536KB )
GO
USE [model]
GO
IF NOT EXISTS (SELECT name FROM sys.filegroups WHERE is_default=1 AND name = N'DATA') ALTER DATABASE [model] MODIFY FILEGROUP [DATA] DEFAULT
GO
